@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
	background-color: #000080;
}
p{
	font-size: 40px;
}
.p1{
	font-size: 60px;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 30px #87CEEB; 
}
.p2{
	color: white;
	text-shadow: 0px 0px 30px #1E90FF;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}
.pp{
	text-align: center;
	text-shadow:0px 0px 30px #1E90FF ;
}
.p3{
	color: white;
	text-shadow: 0px 0px 30px #1E90FF;
	font-family: 'Roboto Slab', serif;
}
.p4{
	color: white;
	text-shadow: 0px 0px 30px #1E90FF;
	font-family: 'Roboto Slab', serif;
}
.p5{
	color: white;
	text-shadow: 0px 0px 30px #1E90FF;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}
.p6{
	color: white;
	text-shadow: 0px 0px 30px #1E90FF;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}